@import 'src/package';

.sign-up-page {
  border: 1px solid $color-gray-500;
  padding: 2.5rem;
  margin: 100px auto;
  max-width: $mobile-max-width;

  .sign-up-title {
    @include flex-box-col;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .sign-up-form {
    //공통
    .input-box {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 0.7rem;
      border: 1px solid $color-gray-200;
      background-color: white;

      &::placeholder {
        color: $color-gray-200;
      }
    }

    .checkbox-agree-wrap {
      @include flex-box-row;
      margin-bottom: 0.7rem;

      .checkbox-wrap {
        @include flex-box-row;
        margin-right: 1rem;

        input[id] {
          margin-right: 0.3rem;
          zoom: 1.5;

        }
        input[id] + label {
          line-height: 1.4;
          cursor: pointer;
        }
      }
      .view-content {
        line-height: 1.7;
        font-size: $small-font-size;
        color: $color-gray-400;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .small-desc {
      color: $color-gray-400;
      font-size: $small-font-size;

      li {
        @include flex-box-row;
        align-items: baseline;
        margin-bottom: 0.5rem;
      }
    }

    .sign-up-btn {
      width: 100%;
      background-color: $color-blue;
      color: $color-white;
      padding: 15px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}